page-post-modal {
    #submitBut {
        border-radius: 2px;
    }

    #privacyLabel {
        margin-top: 40px;
    }

    #groupsToPostToLabel {
        margin-top: 40px;
    }

    #imageContainer {
        margin-top: 10px;
    }

    .label-md {
        text-transform: none;
        font-size: 20px;
        font-weight: bold;
    }

    .list-header-md {
        border-top: none;
        border-bottom: 2px solid rgb(147, 126, 223);
        background-color: rgb(247,247,247);
        color: black;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    

    .list-md {
        border-bottom: 2px rgb(235, 235, 237) solid 
    }

    .button-md {
        text-transform: none;
        letter-spacing: 1px;
    }

    .playButton {
        color: white;
        border: 2px solid white;
        border-radius: 100%;
        text-align: center;
        margin-top: 30px;
        padding: 5px;
        margin-left: 35px;
    }  
}
