page-home {
    #uploadBtn{
        letter-spacing: 2px;
        border-radius: 2px;
    }

    #groupHomePageDisplay {
        border-radius: 50%;
        overflow: hidden;
        width: 30px;
        margin-bottom: -4px;
        height: 30px;
    }

    #headerGroupName {
        background-color: none !important;
    }

    .label-md {
        text-transform: none;
        font-size: 20px;
        font-weight: bold;
    }

    .contentBack {
        background-color: rgb(247, 247, 247)
    }  
    
    .swiper-slide img {
       width: 100%;
       max-height: 350px;
    }

    .list-header-md {
        border-top: none;
        border-bottom: 2px solid rgb(147, 126, 223);
        color: black;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .list-md {
        border-bottom: 2px rgb(235, 235, 237) solid;
    }

    .item-md {
        background: none;
    }

    .button-md {
        text-transform: none;
        letter-spacing: 2px;
    }
    

    .playButton {
        color: white;
        border: 3px solid white;
        border-radius: 100%;
        padding: 15px;
        margin-left: -25px;
    }  
}
