page-home {
    #uploadBtn{
        letter-spacing: 2px;
        border-radius: 2px;
    }

    .contentBack {
        background-color: rgb(247, 247, 247)
    }  
    
    .swiper-slide img {
       width: 100%;
    }

    
}
