page-modal {
    #submitBut {
        border-radius: 2px;
    }

    #privacyLabel {
        margin-top: 40px;
    }

    #subscriptionLabel {
        margin-top: 40px;
    }

    #subscriptionLabel {
        margin-top: 30px;
    }

    .list-header-md {
        border-top: none;
        border-bottom: 2px solid rgb(147, 126, 223);
        color: black;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .list-md {
        border-bottom: 2px rgb(235, 235, 237) solid 
    }
}
