<ion-header>

  <ion-navbar color="primary">
    <span>
        <ion-title float-left>LookUP Groups</ion-title>
    </span>
    <ion-buttons end>
            <button ion-button icon-only (click)="presentNewGroupModal()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="outer-content">
    <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="shouldShowCancel"
   >
  </ion-searchbar>
  <ion-card>
      <ion-card-content *ngIf="answer !== undefined">
        <h2>Virtual Assistant <ion-icon name='mic'></ion-icon></h2>
        <hr>
        <p>
            {{answer.data.text}}
        </p>
      </ion-card-content>
  </ion-card>
    <ion-fab bottom right slot="fixed" (click)="listenForSpeech()">
        <button ion-fab color="secondary">
          <ion-icon name="mic"></ion-icon>
        </button>
    </ion-fab>
    <ion-list>
      <ion-list-header>
        Your Groups
      </ion-list-header>
      <div *ngFor= "let group of groupService.subscribedGroups">
        <div *ngIf="searchInput == '' || searchInput === undefined || group.groupName.toLowerCase().includes(searchInput.trim().toLowerCase())">
          <ion-item>
              <ion-avatar item-start (click)="setCurrentSelectedGroup(group)">
                <img src={{group.groupPhoto}}>
              </ion-avatar>
              <h2 (click)="setCurrentSelectedGroup(group)">{{group.groupName}}</h2>
              <ion-icon name="remove" item-end (click)="unsubToGroup(group)" style="color:red"></ion-icon>
            </ion-item>
        </div>  
      </div>
    </ion-list>
  
    <ion-list>
      <ion-list-header id="suggestedGroupsLabel">
        LookUP Suggested Groups
      </ion-list-header>
  
      <div *ngFor= "let group of groupService.recommendedGroups">
        <div *ngIf="searchInput == '' || searchInput === undefined || group.groupName.toLowerCase().includes(searchInput.trim().toLowerCase())">
            <ion-item>
                <ion-avatar item-start (click)="setCurrentSelectedGroup(group)">
                  <img src={{group.groupPhoto}}>
                </ion-avatar>
                <h2 (click)="setCurrentSelectedGroup(group)">{{group.groupName}}</h2>
                <ion-icon name="add" item-end (click)="subscribeToSuggestedGroup(group)" style="color:green"></ion-icon>
            </ion-item>
        </div>
      </div>
    </ion-list>
    <div style="margin-top:80px"></div>
  </ion-content>
