page-groups {
    #addIcon {
        margin-right: 30px;
        font-size: 25px;
        font-weight: bold;
    }

    #suggestedGroupsLabel {
        margin-top: 40px;
    }

    .list-header-md{
        color: black;
        border-bottom: 1px solid #dedede;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}
