<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <span>
        <ion-title float-left>LookUP Groups</ion-title>
    </span>
    <ion-buttons end>
            <button ion-button icon-only (click)="presentNewGroupModal()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="outer-content">
    <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
   >
  </ion-searchbar>
  <ion-card>
      <ion-card-content *ngFor="let speech of speechArray">
        <p>
          {{speech}}
        </p>
      </ion-card-content>
    </ion-card>
    <ion-fab bottom right slot="fixed" (click)="listenForSpeech()">
        <button ion-fab color="secondary">
          <ion-icon name="mic"></ion-icon>
        </button>
    </ion-fab>
    <ion-list>
      <ion-list-header>
        Your Groups
      </ion-list-header>
      <ion-item-sliding *ngFor= "let group of groupService.subscribedGroups" (click)="setCurrentSelectedGroup(group)"> 
        <ion-item>
          <ion-avatar item-start>
            <img src={{group.groupPhoto}}>
          </ion-avatar>
          <h2>{{group.groupName}}</h2>
        </ion-item>
        <ion-item-options>
          <button ion-button color="primary" icon-start>
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button color="danger" icon-start>
            <ion-icon name="trash"></ion-icon>
            Trash
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
    <ion-list>
      <ion-list-header id="suggestedGroupsLabel">
        LookUP Suggested Groups
      </ion-list-header>
  
      <ion-item-sliding *ngFor= "let group of groupService.recommendedGroups">
        <ion-item>
          <ion-avatar item-start (click)="setCurrentSelectedGroup(group)">
            <img src={{group.groupPhoto}}>
          </ion-avatar>
          <h2 (click)="setCurrentSelectedGroup(group)">{{group.groupName}}</h2>
          <ion-icon name="add" item-end (click)="subscribeToSuggestedGroup(group)"></ion-icon>
        </ion-item>
        <ion-item-options>
          <button ion-button color="light" icon-start>
            <ion-icon name="more"></ion-icon>
            More
          </button>
          <button ion-button color="primary" icon-start>
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button color="secondary" icon-start>
            <ion-icon name="add"></ion-icon>
            Join
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        <p></p>
      </ion-item>
    </ion-list>
  
  </ion-content>
