page-groups {
    .outer-content{
        background-color: rgb(247,247,247);
    }
    #addIcon {
        margin-right: 30px;
        font-size: 25px;
        font-weight: bold;
    }

    #suggestedGroupsLabel {
        margin-top: 40px;
    }

    .list-header-md{
        color: black;
        background-color: rgb(247,247,247);
        border-bottom: 2px solid rgb(147, 126, 223);
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .label-md {
        text-transform: none;
        font-size: 20px;
        font-weight: bold;
    }
}
