page-create-post-on-selected-group-modal {
    .list-header-md {
        border-top: none;
        border-bottom: 2px solid rgb(147, 126, 223);
        color: black;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .button-md-secondary {
        margin-top: 15px;    
    }

    .list-md {
        border-bottom: 2px rgb(235, 235, 237) solid 
    }
    .button-md {
        text-transform: none;
        letter-spacing: 1px;
    }
}
