
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{groupService.currentSelectedPost.postOrigin}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="exitSelectedPostModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="contentBack">
    <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src={{groupService.currentSelectedPost.avatar}}>
          </ion-avatar>
          <h2>{{groupService.currentSelectedPost.user}}</h2>
          <p>{{groupService.currentSelectedPost.postOrigin}}
            
          </p>
        </ion-item>
  
        <ion-slides pager>
            <ion-slide *ngFor="let file of groupService.currentSelectedPost.mediaFiles">
                <img src={{file}} class="slide-image">
            </ion-slide>
            <ion-slide 
            *ngIf="!(!groupService.currentSelectedPost.videoThumbnail ||
                   0 === groupService.currentSelectedPost.videoThumbnail.length)"
                   (click)="playVideo(groupService.currentSelectedPost.videoURL)"
                   >
              <img src={{groupService.currentSelectedPost.videoThumbnail}} class="slide-image">
              <ion-fab middle middle>
                  <ion-icon name="play" class="playButton"></ion-icon>
              </ion-fab> 
          </ion-slide>
        </ion-slides>

        <ion-card-content>
          <p>{{groupService.currentSelectedPost.desc}}</p>
          <ion-list>
            <p id="commentLabel">
              Comments
            </p>
            <button ion-button color="secondary" full (click)="openCommentModal()">Add Comment</button>
          </ion-list>
        </ion-card-content>
        <ion-card *ngFor="let comment of groupService.currentSelectedPost.comments">
            <ion-item>
              <ion-avatar item-start>
                <img src={{comment.avatar}}>
              </ion-avatar>
              <h2>{{comment.user}}</h2>
            </ion-item>
            <ion-slides pager>
                <ion-slide *ngFor="let file of comment.mediaFiles">
                    <img src={{file}} class="slide-image">
                </ion-slide>
                <ion-slide *ngIf="!(!comment.videoThumbnail || 0 === comment.videoThumbnail.length)"
                            (click)="playVideo(comment.videoURL)"      
                >
                    <img src={{comment.videoThumbnail}} class="slide-image">
                    <ion-fab middle middle>
                        <ion-icon name="play" class="playButton"></ion-icon>
                    </ion-fab>
                </ion-slide>
              </ion-slides>
            <ion-card-content>
              <p style="margin-top:10px; line-height: 24px;">{{comment.description}}</p>
              <div (click)='playAudio(comment.description)'>
                  <img src="../../../assets/imgs/volume.png" style="width:30px">
              </div>
            </ion-card-content>
          </ion-card>
    </ion-card>
</ion-content>
